@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet");

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet');

/* #root {
} */

.site-wrapper {
  height: 100vh;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Assistant", sans-serif;
  color:  #212c47;
}

main {
  display: flex;
  flex-grow: 1;
  padding: 3em;
  align-items: center;
  justify-content: center;
}

header {
  width: 100vw;
  padding: 2em 0 2em 0;
  background: #212c47;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

footer {
  background: #212c47;
  width: 100vw;
  height: 20vh;
  padding: 10vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

#card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* link styling */
/* Global reset for links */
a {
  color: inherit; /* Inherits the color from parent element */
  text-decoration: none;
}
a:visited {
  color: inherit; /* Ensures visited links don't turn purple */
}

a, a:visited , a:hover, a:active {
  color:white !important;
  font-weight: 300;
}
a:hover {
  text-decoration: underline;
  color: white !important;
}



button {
  /* margin: 0 1.5em 0 0; */
  background-color: white;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.20);
 
}

.cardContainer button {
  margin: 0 1.5em 0 0;
}


.cardList {
  list-style-type: none; 
}

.cardDiv {
  width: 28em;
  height: 15em; 
  border-radius: 6px;
  padding: 4%;
  margin: 8% 0 5% 0;
  box-sizing: border-box;

  font-family: "Cutive Mono", monospace;
  font-weight: 150;
  font-style: normal;
  color: white;
  text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;

  box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.13);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.50);

  background: rgb(79,79,79);
  background: linear-gradient(153deg, rgba(79,79,79,1) 0%, rgba(158,158,158,1) 78%, rgba(75,75,75,1) 100%);
    
}


  /* for flipping */
.flip-outer {
  perspective: 1000px;
}

/* flipping card */
.flip-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-front , .flip-back {
  backface-visibility: hidden;
}

.flip-back {
  transform: rotateY(180deg);
}

/* Do a horizontal flip when you move the mouse over the flip box container */
.flip-outer:hover .flip-inner {
  transform: rotateY(180deg);
}



/* cardProvider styles */
.noBrand{
  background: rgb(79,79,79);
  background: linear-gradient(153deg, rgba(79,79,79,1) 0%, rgba(158,158,158,1) 78%, rgba(75,75,75,1) 100%);
}

.masterCard{
  background: rgb(7,40,150);
  background: linear-gradient(153deg, rgba(7,40,150,1) 17%, rgba(0,130,216,1) 68%, rgba(9,9,121,1) 100%);
  color: white;
}

.visa {
  background: rgb(230,155,50);
  background: linear-gradient(153deg, rgba(230,155,50,1) 8%, rgb(255, 219, 168) 71%, rgba(215,139,32,1) 100%);
  color: white;
}

.americanExpress {
  background: rgb(237,92,92);
background: linear-gradient(153deg, rgba(237,92,92,1) 8%, rgba(253,204,204,1) 71%, rgba(204,68,68,1) 100%);
  color: white;
}


form {
  width: 50vw;
  height:35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input , select {
  padding: 4px;
  border-radius: 3px;
  /* border: none; */
  border: 1.5px solid rgb(216, 216, 216);
}
