#root {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* custom css */
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet');


header {
  background-color: rgb(247, 212, 234);
  width: 100vw;
 
}

footer {
  background-color: rgb(204, 226, 179);
  width: 100vw;

}

.cardList {
  list-style-type: none; 
}

.cardDiv {
  width: 60vw;
  height: 37vh;
  border-radius: 6px;
  padding: 3%;
  margin: 3%;
  font-family: "Cutive Mono", monospace;
  font-weight: 150;
  font-style: normal;

  background: rgb(79,79,79);
  background: linear-gradient(153deg, rgba(79,79,79,1) 0%, rgba(158,158,158,1) 78%, rgba(75,75,75,1) 100%);
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
}

button {
  margin: 0 1.5em 0 1.5em;
}


/* cardProvider styles */
.noBrand{
  background: rgb(79,79,79);
  background: linear-gradient(153deg, rgba(79,79,79,1) 0%, rgba(158,158,158,1) 78%, rgba(75,75,75,1) 100%);
}

.masterCard{
  background: rgb(7,40,150);
  background: linear-gradient(153deg, rgba(7,40,150,1) 17%, rgba(0,130,216,1) 68%, rgba(9,9,121,1) 100%);
  color: white;
}

.visa {
  background: rgb(171,113,9);
  background: linear-gradient(153deg, rgba(171,113,9,1) 0%, rgba(247,196,0,1) 72%, rgba(203,147,8,1) 100%);
  color: white;
}

.americanExpress{
  background: rgb(216,76,92);
background: linear-gradient(153deg, rgba(216,76,92,1) 0%, rgba(252,137,150,1) 72%, rgba(241,66,86,1) 100%);
color: white;
}